body {
  margin:0px;
  background-image: url(img/background.png);
}

@font-face {
  font-family: 'endorregular';
  src: url('endor-webfont.woff2') format('woff2'),
       url('endor-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

ul {
  top: 0%;
  left: 0%;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  margin: 5px;
  color: white;
  font-family: 'endorregular';
}

.topbaritem {
  display: inline;
  list-style-type: none;
}